<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approval Status</title>
    <style>
      h3 {
        color: blue;
        background: red;
      }
    </style>
  </head>
  <body>
    <h3>Approved</h3>
    <p>Hello <strong><%= userName %></strong>,</p>
    <p>Your request has been <strong><%= status %></strong> by the admin.</p>
  </body>
</html>
